<div class="margin-body">
    <p>The IET’s Adams is accreditation management system that allows
        Departments to manage their accreditation activities and accreditation submissions online. It allows Departments to view their accreditation history and the next activity due for all of their programmes. ADAMS can also be used to manage joint visits with other Professional Engineering Institutions (PEIs).
    </p>
    <ul>
        <li><strong>Environment:</strong>  .NET core 8, MVC, Entity FrameWork, HTML, CSS, Javascript</li>
        <li><strong>Database:</strong> SQL Server.</li>
        <li><strong>My Responsibilities:</strong> Support and Development, Requirement gathering, testing and Migration.</li>
        </ul>
</div>
