<div>
    <p>Idox’s iFIT project enables Real Time Location system(RTLS)
         which is IoT based system provides hospitals to track, monitor and notify the real time locations of their medical equipment.
    </p>
    <ul>
        <li><strong>Environment:</strong>  .net framework 4.8, Win Form, Windows Service, Entity Framework 6.</li>
        <li><strong>Database:</strong> SQL Server.</li>
        <li><strong>My Responsibilities:</strong> Client interaction, System design: and Requirement gathering, Making changes as per requirement’s, Development, testing and release Process handling, Managing team of two people.</li>
        </ul>
</div>
