<div class="margin-body">
    <p>Inspec Direct is an online research tool, providing a search interface onto a world leading bibliographic database. The database itself contains scientific and technical literature abstracts. Engineers, scientists and others use the [Inspec Direct] interface to locate relevant journal articles, conference papers and other documents.
    </p>
    <ul>
        <li><strong>Environment:</strong> Angular 7, 8,12, 15, Typescript, JavaScript, HTML, CSS, Angular material, SASS, LESS, SCSS, Visual Studio Code</li>
        <li><strong>Database:</strong> SQL Server.</li>
        <li><strong>My Responsibilities:</strong> Support and Development, Requirement gathering, Making changes as per requirement’s, testing and Migration.</li>
        </ul>
</div>
