<div class="margin-body">
    <p>Idox’s  iFIT software enables the tracking of hospital inventory/device 
and the rapid retrieval of patient records for the hospitals. Application helps hospital 
management in improving operational efficiency and the delivery of high-quality patient 
care.
    </p>
    <ul>
        <li><strong>Environment:</strong> .net framework 4.8, MVC, Entity Framework 6 , Web API, SSRS.</li>
        <li><strong>Database:</strong> SQL Server.</li>
        <li><strong>My Responsibilities:</strong> Client interaction, System design: and Requirement gathering, Making changes as per requirement’s, Development, testing and release Process handling, Managing team of two people.</li>
        </ul>
</div>
