<br>
<h3>Working Experience</h3>
<div class="card border-secondary" style="margin-top: 20px;">
  <h4 class="card-header">Software Engineer</h4>
  <div class="card-body">
    <h6 class="card-title">NEC Software Solutions</h6>
    <h6 class="card-subtitle mb-2 text-muted">April 2024 - Present</h6>
    <h6 class="card-subtitle mb-2 text-muted"> Mumbai, Maharashtra</h6>
    <p class="card-text">Currently Working as Software engineer at NEC Software Solutions Pvt Ltd. Currently working on C (sharp), ASP.Net 6.0/8.0/10.0, Entity FrameWork, Angular 12 to 19, Web API, Web Accessibility, Angular Unit testing, SQL Server, .NET Nunit testing.
        Recently working on Education domain and Web Development application projects. I like to explore new technologies and I'm a electronics and telecommunication student so I have the knowledge of embedded system.</p>
  </div>
</div>

<div class="card border-secondary" style="margin-top: 20px;">
  <h4 class="card-header">Associate</h4>
  <div class="card-body">
    <h6 class="card-title">NEC Software Solutions</h6>
    <h6 class="card-subtitle mb-2 text-muted">April 2022 - March 2024</h6>
    <h6 class="card-subtitle mb-2 text-muted"> Mumbai, Maharashtra</h6>
    <p class="card-text">During this period I was working as Associate at NEC Software Solutions Pvt Ltd. Working on C (sharp), ASP.Net FrameWork, ASP.Net core, Angular 12, MVC, WEb API, Windows Service, SSRS, SQl Server.
    So far worked on IOT projects, eLearning, eAssessment and Web Development application projects.</p>
  </div>
</div>

<div class="card border-secondary" style="margin-top: 20px; margin-bottom: 20px;">
  <h4 class="card-header">Intern</h4>
  <div class="card-body">
    <h6 class="card-title">NEC Software Solutions</h6>
    <h6 class="card-subtitle mb-2 text-muted">September 2021 - March 2022</h6>
    <h6 class="card-subtitle mb-2 text-muted"> Mumbai, Maharashtra</h6>
    <p class="card-text">During my six-month internship, I acquired practical experience and proficiency in various technologies and frameworks, including: HTML, CSS, JavaScript, C(Sharp), .NET Framework, ASP.NET MVC, Angular, SQL Server, and Console applications.
        Developed small-scale CRUD applications, demonstrating hands-on expertise in software development and proficiency in utilizing these technologies effectively.
        This internship not only enhanced my technical skills but also provided me with valuable insights into collaborative software development practices and project management methodologies.</p>
  </div>
</div>




