
<div class="home-background">
  <div class="overlay-text">
    <h1>Full-Stack Engineering - Software Engineer</h1>
    <p>I'm a passionate Software Engineer with 4 years of experience in designing, developing, and maintaining scalable web applications. Specializes in full-stack development, delivering robust and user-friendly solutions with a strong focus on accessibility and performance.</p>
  </div>
</div>
<hr>
<div class="container">
  <h4>What I Do</h4>
  <div class="do-list">
    <p >
     <i class="bi bi-check-lg"></i>&nbsp;<strong>Full-Stack Development</strong> - Building responsive, scalable web apppcations using Angular, C#, .NET, and SQL.
    </p>
    <p >
     <i class="bi bi-check-lg"></i>&nbsp;<strong>API Integration & Backend Logic</strong> - Designing and implementing RESTful APIs and efficient server-side logic.
    </p>
    <p>
      <i class="bi bi-check-lg"></i>&nbsp;<strong>Agile Collaboration</strong> - Working closely with cross-functional teams to depver features in fast-paced Agile environments.
    </p>
    <p >
     <i class="bi bi-check-lg"></i>&nbsp;<strong>UI/UX Implementation</strong> - Translating design mockups into clean, user-friendly interfaces with accessible front-end code.
    </p>
    <p>
      <i class="bi bi-check-lg"></i>&nbsp;<strong>Database Design & Optimization</strong> - Creating and optimizing relational databases for high-performance data operations.
    </p>
    <p >
     <i class="bi bi-check-lg"></i>&nbsp;<strong>Testing & Maintenance</strong> - Ensuring code quapty through unit testing and maintaining apppcations for long-term success.
    </p>
    </div>
</div>

<app-skills></app-skills>
