<div class="home-background">
</div>
<br>
<div>
<p>"I'm Ruturaj Kulkarni, a <strong> Software Engineer with 4 years of experience </strong> in developing robust and scalable <strong>web applications</strong>.
    To strengthen my expertise and stay up to date with modern technologies,
     I've completed <strong> several certifications </strong> focused on core development skills 
     — including <strong>front-end, back-end, and software development best practices</strong>."
</p>
</div>

<div class="container">
  <h4>Following are the Certifications completed :- </h4>
  <div class="do-list">
    <p >
     <i class="bi bi-dot"></i>&nbsp;<strong>Learning C#.</strong>
    </p>
    <p >
     <i class="bi bi-dot"></i>&nbsp;<strong>Learning the JavaScript Language.</strong>
    </p>
    <p>
      <i class="bi bi-dot"></i>&nbsp;<strong>jQuery Essential Training.</strong>
    </p>
    <p >
     <i class="bi bi-dot"></i>&nbsp;<strong>Learning ASP.NET Core MVC.</strong>
    </p>
    <p>
      <i class="bi bi-dot"></i>&nbsp;<strong>SQL Essential Training.</strong>
    </p>
    <p >
     <i class="bi bi-dot"></i>&nbsp;<strong>Angular Essential Training.</strong> 
    </p>
    <p >
     <i class="bi bi-dot"></i>&nbsp;<strong>Microsoft 365 Power Apps Training.</strong> 
    </p>
    <p >
     <i class="bi bi-dot"></i>&nbsp;<strong>Microsoft 365 Power Automate Training.</strong> 
    </p>
    <p >
     <i class="bi bi-dot"></i>&nbsp;<strong>Diploma in Embeded System Design.</strong> 
    </p>
    </div>
</div>

<div>
    <h4>Achievements:-</h4>
    <p class="do-list"> <i class="bi bi-dot"></i>&nbsp;<Strong>Rising Star Award</Strong> at NEC Software Solutions.</p>
</div>
