<br>
<h4>Education/Qualification Details</h4>
<table class="table table-bordered border-secondary border border-2 rounded">
  <thead class="table-secondary border-secondary border border-2">
    <tr>
      <th scope="col">Qualification</th>
      <th scope="col">College/Institution</th>
      <th scope="col">Board/University</th>
      <th scope="col">Year of Passing</th>
      <th scope="col">Percentage/CGPA</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>B.E(Electronic and Telecommunication)</th>
      <td>Dr J.J. Magdum college of Engineering</td>
      <td>Shivaji University</td>
      <td>2019</td>
      <td>63.88</td>
    </tr>
    <tr>
      <th>Diploma(Electronic and Telecommunication)</th>
      <td>Dr J.J. Magdum Polytechnic college</td>
      <td>Maharashtra State Board of Technical Education</td>
      <td>2016</td>
      <td>76.06</td>
    </tr>
    <tr>
      <th>SSC(10th)</th>
      <td>JayPrabha English Medium High School</td>
      <td>Maharashtra State Board of Secondary and Higher Secondary Education</td>
      <td>2013</td>
      <td>63.53</td>
    </tr>
  </tbody>
</table>