<div class="home-background">
  <!-- <div class="overlay-text">
    <h1>Ruturaj Deelip Kulkarni</h1>
    <p>Transforming Ideas into Applications – Full-Stack Engineering that Delivers Results.</p>
  </div> -->
</div>
&nbsp;
<div>
  <h3>Full-Stack .NET & Angular Developer</h3>
  <p>I am a results-oriented Software Developer with 4+ years of experience specializing in:</p>
    <div class="tech-list">
      <p >
      <i class="bi bi-check-lg"></i>&nbsp;<strong>Backend:</strong> - .NET Technologies & SQL Server.
      </p>
      <p >
      <i class="bi bi-check-lg"></i>&nbsp;<strong>Frontend:</strong> - Angular 12 to 21, HTML, CSS, Javascript & Modern Web Tech
      </p>
      <p>
        <i class="bi bi-check-lg"></i>&nbsp;<strong>Low-Code:</strong> - Power Platforms, Power Apps.
      </p>
    </div>
    <p>Dedicated to leveraging technical excellence to improve efficiency and deliver successful project outcomes.</p>
</div>
<div class="container py-5">
  <div class="row g-4">
    @for(card of cards; track card)
    {
    <div class="col-md-3">
      <div class="card text-center shadow-sm h-100 hover-card">
        <div class="card-body bg-light rounded-top">
          <img [src]="card.image" alt="{{ card.title }}" class="img-fluid" style="height: 100px;">
        </div>
        <div class="card-footer bg-primary text-white fw-bold rounded-bottom">
          <a [routerLink]="card.link" class="text-white text-decoration-none d-block card-title-link">
            {{ card.title }}
          </a>
        </div>
      </div>
    </div>
    }
  </div>
</div>

