<div class="margin-body">
    <p>BPS Assessment is the assessment and learning branch of the British Pharmacological Society. BPS-PSA platform is used to conduct various prescribing related events for medical students at various universities from different countries like UK, Australia, Canada, Denmark,
         UAE etc. It also provides the facility to the candidates to purchase the online Assessments \& eLearning courses.
    </p>
    <ul>
        <li><strong>Environment:</strong> .Net Core, MVC, LINQ, Entity Framework, Web API, Repository Pattern with DI.</li>
        <li><strong>Database:</strong> PostgreSQL.</li>
        <li><strong>My Responsibilities:</strong> Requirement gathering, Making changes as per requirement’s, Development, testing and release Process handling.</li>
        </ul>
</div>
