<div class="margin-body">
    <p>The IET BAU Support contains multiple projects for support. There are tasks like bug fixes, Unite test implementation, new functionality development and migration to latest versions of .NET and Angular.
    </p>
    <ul>
        <li><strong>Environment:</strong> .NET core 8, MVC, Web API, Entity FrameWork, HTML, CSS, Javascript, Angular 19, Azure Functions, Azure Portal, Azure DevOps.</li>
        <li><strong>Database:</strong> SQL Server, Azure B2C tenant.</li>
        <li><strong>My Responsibilities:</strong> Support and Development, Requirement gathering, testing and Migration.</li>
        </ul>
</div>

