<div class="container my-5">
  <div class="row align-items-center">
    <!-- Left: Image -->
    <div class="col-md-5">
      <img src="assets/images/Personal-Info.jpg" alt="Profile Image" class="img-fluid rounded shadow">
    </div>

    <!-- Right: Personal Info -->
    <div class="col-md-7">
      <h2 class="mb-3">Ruturaj Kulkarni</h2>
      <ul>
        <li><strong>Mobile No:</strong> +91- 721 831 3344.</li>
        <li><strong>Email Id:</strong> {{mailId}}.</li>
        <li><strong>Languages:</strong> Marathi, Hindi, English.</li>
        <li><strong>Experience:</strong> 4 Years 5 Months.</li>
        <li><strong>Specialization:</strong> .NET Full-Stack Development</li>
        <li><strong>Certifications:</strong> Learning C#, ASP.NET Core MVC, Javascript, jQuery, SQL Server, Angular, Power Apps, Power Automate.</li>
        <li><strong>Strength:</strong> Self-Confidence, Decision making, Good communication and interacting skills, Multi tasking, New learning ability.</li>
      </ul>
    </div>
  </div>
</div>

